/*
 @import url('http://fonts.googleapis.com/css?family=Just+Another+Hand');
 @import url('http://fonts.googleapis.com/css?family=Lato');
 @import url('http://fonts.googleapis.com/css?family=Raleway');
 */
@font-face {
	font-family: Script;
	src: url(fonts/Simplesnails.ttf);
}
@font-face {
	font-family: JustAnotherHand;
	src: url(fonts/JustAnotherHand.ttf);
}
@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Mono;
	src: url(fonts/PTM55FT.ttf);
}

html {
	font-family: Raleway;
	background-image: url("img/45degreee_fabric.png");
	padding: 0px;
	margin: 0px;
}
body {
	height: 5900px;
	background-color: rgba(230, 220, 220, .5);
	padding: 0px;
	margin: 0px;
}

#controls {

	width: 100%;
}

.section {
	min-height: 40px;
	border-radius: 15px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
	background-color: rgba(230, 220, 220, 1);
}

.tag-cloud {
	position: relative;
	width: 100%;
	font-family: "Raleway";
	font-size: 14px;
}

.tag-link {
	font-family: "Raleway";
	font-weight: bold;
	margin: 2px;
	color: rgba(120, 0, 20, .5);
}

.tag-link:hover {
	margin: 2px;
	color: rgba(230, 10, 90, .5);
}

.sublogo-main {
	margin: 8px;
	color: rgba(230, 0, 120, .7);
	position: relative;
	display: inline-block;
	font-size: 24px;
	font-family: "Just Another Hand"
}
.logo-main {
	position: relative;
	display: inline-block;
	font-size: 36px;
	font-family: "Just Another Hand"
}

.top-link {
	margin: 5px;
	display: inline-block;
	font-size: 24px;
	font-family: "Just Another Hand";
	color: rgba(0, 0, 0, .6);
	text-decoration: none;
}
.top-link:hover {
	color: rgba(0, 0, 0, 1);
}

.top-link:active {
	color: rgba(0, 0, 0, .5);
}

#header {
	position: relative;
	padding: 15px;
	top: 0px;
	box-sizing: border-box;
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
}

#top-nav {
	position: absolute;
	text-align: right;
	width: 300px;
	top: 20px;
	height: 50px;
	right: 20px;
}

#main {
	position: relative;
	min-height: 500px;
	width: 100%;
	top: 0px;
	left: 0px;
}

#main-col {
	box-sizing: border-box;
	position: relative;
	top: 0px;
	padding: 0px;
	height: 100%;
	margin: 0px auto;
	width: 800px;
	height: 500px;
}

#nav-col {
	min-height: 100px;
	box-sizing: border-box padding : 10px;
	float: left;
	position: relative;
	height: 100%;
	width: 150px;
}

#content-col {
	min-height: 100px;
	box-sizing: border-box padding : 10px;
	display: inline-block;
	position: relative;
	height: 100%;
	width: calc(100% - 250px);
}

.toc-section {
	font-family: "Raleway" min-height : 200px;
	margin: 6px;
	border-radius: 15px;
	padding: 10px;
	background-color: rgba(205, 190, 175, 1);
}

#toc  .heading {
	font-size: 10px;
	font-weight: bold;
	font-family: "Raleway"
}

#toc .entry {
	margin: 2px;
	padding: 3px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid rgba(0, 0, 0, .5);
	font-family: "Raleway"
}

#toc .entry.nested {
	margin: 2px;
	padding: 3px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .5);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

#toc .entry .title {
	font-size: 14px;
	font-weight: bold;
}

#toc .entry .key {
	font-size: 12px;
}

#toc .entry .title:hover {
	color: rgba(140, 0, 100, 1);
	background-color: rgba(160, 0, 100, .1);
}

#toc .entry .title:active {
	color: rgba(240, 100, 200, 1);
}

#toc .details {
	font-size: 10px;
	font-weight: italic;
	margin: 5px;
	font-family: "Raleway"
}

.subcard {
	min-height: 10px;
	margin: 3px;
	border-radius: 5px;
	padding: 2px;
	background-color: rgba(255, 253, 245, 1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.subcard .title {
	color: rgba(230, 0, 120, .7);
	font-size: 14px;
	font-family: JustAnotherHand;
}

.subcard .detail {
	font-size: 14px;
}

.card {
	min-height: 20px;
	margin: 6px;
	border-radius: 15px;
	padding: 2px;
	background-color: rgba(255, 253, 245, 1);
	box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, .5);
}

.card  .header {

	border-radius: 12px 12px 3px 3px;
	padding: 4px;
	position: relative;
	background-color: rgba(100, 90, 80, .2);
}

.card .detail {
	margin: 0px 8px;
	padding: 4px;
	display: inline-block;
	position: relative;
	font-size: 10px;
	color: rgba(50, 20, 0, .4);
	border-radius: 15px;
	background-color: rgba(255, 255, 255, .2);
}

.card .title {
	display: inline-block;
	position: relative;
	font-size: 18px;
	
}
.card .contents {
	padding: 5px;
	position: relative;
	font-size: 14px;
	color: rgba(50, 20, 0, .6);
}

.card .period {
	font-size: 10px;
		color: rgba(50, 20, 0, .6);
}

.card.minicard {
	width: 150px;
	display: inline-block;
}
